body,html { margin:0;
height:100%;
padding:0;
background-color:#FFFFF0;
position:relative;

}



.menu { background-colour:#FFFFC9;
  background-color:#F5EB98  ;
  padding:16px;
  float:right;
  width:100%;
  overflow:hidden;
  position: fixed;
  top:0;
}
.menu a{
  display:block;
  padding:14px 16px;
  color: #DD830A;
  font-size:16px;
  font-weight:bold;
  float:left;
  text-align:right;
  font-family:serif;
  margin-left: 20;
  margin-top: ;
  text-decoration:none;
}

.footerbar{
  background-color:#F8CC9D;
    background-coloujr:#F5EB98  ;
    padding:16px;
    float:right;
    position: absolute;
    margin-bottom: 0px;
    left: 0; right: 0;
    padding-left:5;

}

.footerbar a{
  display:block;
  padding:14px 16px;
  color: #DD830A;
  font-size:16px;
  font-weight:bold;
  float:left;
  text-align:right;
  font-family:serif;
  margin-left: 20;
  margin-top: ;
  text-decoration:none;
  margin-top:-100px /* pulls up the footer to ovewrlap the 100px main padding. */
  height:100px
}


.menu a:hover{
  background-color: white;}








.commentsection{
  background-color:white;
  text-align:center;
  color:black;
  border:1px solid black;
  margin:90px 200px;
  padding:35px;
}

.review { background-color:white;
    padding:5px;
    border:2px solid black;
    margin:50px;
    text-align:left;
    width:250px;
    }

    .commentsectionheading{
      font-weight: bold;
    font-family:sans-serif;
    padding:35px;
    }


    .missionstatement{
      background-color:white;
      text-align:center;
      color:black;
      border:1px solid black;
      margin:90px 200px;
      padding:35px;
    }
    .missionstatementheading{
       font-weight: bold;
    font-family:sans-serif;
      padding:35px;}

.aboutus{
  background-color:white;
  text-align:center;
  color:black;
  border:1px solid black;
  margin:90px 200px;
  padding: 35px;}

  .aboutusheading{
    font-weight: bold;
  font-family:sans-serif;
  padding:35px;
}

.aboutbelize{   background-color:white;
  text-align:center;
  color:black;
  border:1px solid black;
  margin:90px 200px;
  padding:35px;}


  .aboutbelizeheading{
    font-weight: bold;
  font-family:sans-serif;
  padding:35px;
  }
