body,html { margin:0;
min-height:100%;
padding:0;
background-color:#FFFFF0;
position:relative;}




.menu { background-colour:#FFFFC9;
  background-color:#F5EB98  ;
  padding:16px;
  float:right;
  width:100%;
  overflow:hidden;
  position: fixed;
  top:0;
}
.menu a{
  display:block;
  padding:14px 16px;
  color: #DD830A;
  font-size:16px;
  font-weight:bold;
  float:left;
  text-align:right;
  font-family:serif;
  margin-left: 20;
  margin-top: ;
  text-decoration:none;
}

.footerbar{
  background-color:#F8CC9D;
    background-coloujr:#F5EB98  ;
    padding:16px;
    float:right;
    position: absolute;
    margin-bottom:0px;
    left: 0; right: 0;
    padding-left:5;

}

.footerbar a{
  display:block;
  padding:14px 16px;
  color: #DD830A;
  font-size:16px;
  font-weight:bold;
  float:left;
  text-align:right;
  font-family:serif;
  margin-left: 20;
  margin-top: ;
  text-decoration:none;
  margin-top:-100px /* pulls up the footer to ovewrlap the 100px main padding. */
  height:100px
}


.menu a:hover{
  background-color: white;}


  img{ height:200px;
  width:300px;}



.lemonpierecipedesign {
  background-color: white;
  margin:90px 200px;
  border: 1px groove black;
  list-style: none;
  text-decoration:none;
  text-align:center;
}
.bananabreadrecipedesign {
  background-color:white;
  text-align:center;
  color:black;
  border:1px solid black;
  margin:90px 200px;
  padding:35px;
  text-decoration: none;

}.whitecakerecipedesign{
  background-color:white;
  text-align:center;
  border:1px solid black;
  margin:90px 200px;
  padding:35px;
}

.recipenames {
  list-style: none;
  text-decoration:none;
}

.lemonpierecipeheading{
  float:left;
  padding-left:35px;
  text-decoration:underline;
  font-size:20px;
}
